body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0 150px;
}

/* HEADER START */

.header-site {
  height: 540px;
  width: 1500;
  background-color: rgb(3, 3, 3, 80%);
}

.high-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 180px;
}

.down-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 180px;
}

.logo {
  display: flex;
  height: 56px;
  width: 56px;
  margin-top: 10px;
}

.l-name {
  font-size: 24px;
  font-weight: 700;
}

.header-logo,
.header-links {
  display: flex;
  gap: 16px;
}

.header-title {
  height: 350px;
  width: 450px;
  margin: 50px 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 35px 0 25px 0;
}

.button {
  font-weight: 700;
  color: #f9faf8;
  background-color: #07b128;
  border-color: #09a66d;
  border-radius: 8px;
  padding: 8px 30px;
  margin: 20px 0 0 0;
}

.header-photo {
  width: 520px;
  height: 250px;
}

ul {
  list-style: none;
}

a,
p {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* HEADER END MAIN START */
